*{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    text-align: center;
    padding: 26px 0;
}
.menu-item-link{
    text-decoration: none;
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.menu-item{
    display:inline-block;
    padding:0 36px;
}
.menu-item-text{
    display:inline-block;
    padding:0 25px;

}
.body{
    width: 1280px;
}
.picture{
    width: 100%;
    height: 789px;
}
.main-content{
    display: block;
    width: 1145px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.main-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 19px 34px 14px;
}
.lead{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 14px 34px 42px;
}
.title{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    padding: 25px 127px;
}
.main-button{
    color: white;
    background-color: #FF0000;
    font-weight: 700;
font-size: 12px;
padding: 18px 44px;
border-radius: 4px;
border: none ;
margin: 0 auto;
display: block;
}
.main-footer{
    color: black;
    font-weight: 700;
font-size: 16px;
line-height: 20px;
padding: 50px 11px;
text-align: right;
}